section.category {
	padding-bottom: 30px;

	.container {
		padding-top: 20vh;
		text-align: center;

		@media (min-width: $responsive-desktop) {
			padding-top: 13vh;
		}
	}

	.category-container {		
		margin: 0 auto 48px;
		display: flex;
		flex-wrap: wrap;

		@media (min-width: $responsive-tablet) {
			justify-content: space-between;
		}

		@media (min-width: $responsive-laptop) {
			max-width: 980px;
		}
	}

	.category {
		margin: 0 auto 10px;		
		background: #fff;
		box-shadow: 0 0 13px rgba(0,0,0,.14);
		width: 100%;

		@media (min-width: $responsive-tablet) {
			margin: 0 0 10px 0;
			width: calc(50% - (20px/3));
		}

		@media (min-width: $responsive-laptop) {
			width: calc(33% - (20px/3));
		}
	}

	.category-title {		
		border-bottom: solid 1px #ccc;
	}

	.img-container {
		width: 100%;
		height: 160px;

		@media (min-width: 1600px) {
			height: 200px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&+h2 {
			text-align: center;
			font-size: 15px;
			color: #b7985b;
			text-transform: uppercase;
			padding: 10px;

			@media (min-width: 1600px) {
				padding: 17px 10px;
			}

			span {
				display: block;
				font-size: 12px;
				font-family: $gill;
				color: #acacac;
				margin-top: 5px;
			}
		}
	}

	.about-category {
		font-size: 12px;
		font-family: $libre;
		color: #000;
		text-align: center;
		padding: 25px;
		line-height: 20px;

		@media (min-width: 1600px) {
			padding: 45px 30px 25px;
		}

		&:after {
			display: block;
			content: '';
			margin: 0 auto;
			width: 65px;
			height: 3px;
			background: #b7985b;
			margin: 15px auto 0;

			@media (min-width: 1600px) {
				margin: 45px auto 0;
			}
		}
	}

	.more-info {
		font-weight: 700;
		font-size: 18px;
		color: #b7985b;
		text-align: center;
		height: 50px;
		line-height: 50px;
		border: 2px solid #b7985b;
		background: transparent;
		transition: 0.3s;
		display: block;

		&:hover {
			background: #b7985b;

			color: #fff;
		}
	}

	.scroll {
		margin: 0 auto 80px;

		a {
			background: transparent;

			&:before {
				display: block;
				content: '';
				width: 25px;
				height: 13px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url('assets/images/icons.png') no-repeat 0px -317px;
			}
		}
	}
}