<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet")
		title Ukrainian Luxury Recreation | Additional Service
	body
		header
			.mobile-toggle
				.burger-line
					i
				.burger-line
					i
				.burger-line
					i
			.logo
				a(href="#")
					img(src="assets/images/logo.png", alt="Ukrainian Luxury Recreation" class="img-responsive")
			.to-services
		section.additional-service
			.container
				h1 additional service
				.services-container
					.service.visa
						.service-title
							span Need Visa?
						.about-service.
							Fairmont Grand Hotel Kyiv features 258 guest rooms, including the extraordinary Royal and Presidential suites. 
					.service.tickets
						.service-title
							span Book Tickets
						.about-service.
							Fairmont Grand Hotel Kyiv features 258 guest rooms, including the extraordinary Royal and Presidential suites. 
					.service.insurance
						.service-title
							span Choose Insurance
						.about-service.
							Fairmont Grand Hotel Kyiv features 258 guest rooms, including the extraordinary Royal and Presidential suites. 
			.disclaimer.
				Ukrainian Luxury Recretian by Karavan Lux I INFO@URL.COM |  38 044 000 00 00 | Creation and development sites  Ower-Studio
		nav.navigation
			ul.menu
				li
					a(href="#") HOTELS
				li
					a(href="#") GOLF
				li
					a(href="#") SPA&MEDICAL
				li
					a(href="#") MICE
				li
					a(href="#") FOR JEWISH
				li
					a(href="#" class="active") ADDITIONAL SERVICES
			ul.additional-menu
				li
					a(href="#" class="active") ABOUTS US
				li
					a(href="#") FAQ
				li
					a(href="#") CONTACTS
			ul.social
				li
					a(href="#" class="viber" title="Viber")
				li
					a(href="#" class="skype" title="Skype")
				li
					a(href="#" class="call" title="Call")
			.disclaimer.
					Ukrainian Luxury Recretian by Karavan Lux I INFO@URL.COM |  38 044 000 00 00 | Creation and development sites  Ower-Studio
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/main.js")