<!DOCTYPE html>
html(lang="ru")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet")
		title Ukrainian Luxury Recreation
	body.homepage
		section.video
			#player
			.player-overlay
		header
			.mobile-toggle
				.burger-line
					i
				.burger-line
					i
				.burger-line
					i
			.logo
				a(href="#")
					img(src="assets/images/logo.png", alt="Ukrainian Luxury Recreation" class="img-responsive")
			.to-services
		section.main.slide(data-section-name="main")
			.container
				h1
					span
						i BOOKING
					span Ukrainian Luxury recreation
					span by Karavan Lux
				.scroll
					a(href="#" class="to-bottom") scroll
					.animate-circle
					.animate-circle
					.animate-circle
				.disclaimer.
					Ukrainian Luxury Recretian by Karavan Lux I INFO@URL.COM |  38 044 000 00 00 | Creation and development sites  Ower-Studio
		section.services.slide(data-section-name="services")
			.container
				h2 Services
				.service-list
					.service-item
						.card
							figure.front
								img(src="assets/images/service1.png", alt="")
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto.
					.service-item
						.card
							figure.front
								img(src="assets/images/service3.png", alt="")
								span Golf
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto.
					.service-item
						.card
							figure.front
								img(src="assets/images/service3.png", alt="")
								span Spa&Medical
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto.
					.service-item
						.card
							figure.front
								img(src="assets/images/service4.png", alt="")
								span Mice
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto.
					.service-item
						.card
							figure.front
								img(src="assets/images/service5.png", alt="")
								span for Jewish
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto. 
					.service-item
						.card
							figure.front
								img(src="assets/images/service6.png", alt="")
								span Additional Service
							figure.back.
								Lorem ipsum dolor sit amet, veniam viderer quo eu. Ius no cetero detracto.
				.additional-services
					.visa
						a(href="#")
							span Need Visa?
					.tickets
						a(href="#")
							span Book Tickets
					.insurance
						a(href="#")
							span Choose Insurance
		section.contacts.slide(data-section-name="contacts")
			.container
				h3 get in touch
				form(action="#")
					span If you have any suggestions,  please fell free to say it.
					.form-field
						input(type="text" placeholder="Name*" required)
						input(type="email" placeholder="Email*" required)
					.form-field
						input(type="text" placeholder="Subject*" required)
					.form-field
						textarea#message(name="message" placeholder="Your message..." required)
					.form-field
						.note All fieds are required*
						button(type="submit") Send
				.disclaimer.
					Ukrainian Luxury Recretian by Karavan Lux I INFO@URL.COM |  38 044 000 00 00 | Creation and development sites  Ower-Studio
		ul.pagination
			li
				a(href="#main")
					span Home
			li
				a(href="#services")
					span Services
			li
				a(href="#contacts")
					span Get in touch
		nav.navigation
			ul.menu
				li
					a(href="#") HOTELS
				li
					a(href="#") GOLF
				li
					a(href="#") SPA&MEDICAL
				li
					a(href="#") MICE
				li
					a(href="#") FOR JEWISH
				li
					a(href="#" class="active") ADDITIONAL SERVICES
			ul.additional-menu
				li
					a(href="#" class="active") ABOUTS US
				li
					a(href="#") FAQ
				li
					a(href="#") CONTACTS
			ul.social
				li
					a(href="#" class="viber" title="Viber")
				li
					a(href="#" class="skype" title="Skype")
				li
					a(href="#" class="call" title="Call")
			.disclaimer.
					Ukrainian Luxury Recretian by Karavan Lux I INFO@URL.COM |  38 044 000 00 00 | Creation and development sites  Ower-Studio
		script(src="https://www.youtube.com/iframe_api")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/jquery.scrollify.min.js")
		script(src="assets/js/main.js")